/* CSS file created by Anthony Hall */
/* Reset browser variations */
/* Add a universal selector */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #303030;
  --secondary-color: #4A90E2;
  --tertiary-color: #FFC0CB;
  --quaternary-color: #F7F4ED;
  --quinary-color: #000;
  --senary-color: #f4f4f4;
}
/* Global Styles */
body { 
  color: var(--quaternary-color);
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  font-weight:bold;
  font-style:normal;
  /* text-decoration: underline; */
}

/* Need to research what these do. */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div {
  -webkit-user-select: auto; /* Safari 3.1+ */
  -moz-user-select: auto; /* Firefox 2+ */
  -ms-user-select: auto; /* IE 10+ */
  user-select: auto; /* Standard syntax */
}

/* Utility classes */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;
}

/* Color Styles */
.color-blue {
  color: var(--primary-color);
}

.color-lt-blue {
  color: var(--secondary-color);
}

.color-pink {
  color: var(--tertiary-color);
}

.color-yellow-white {
  color: var(--quaternary-color);
}

.color-black {
  color: var(--quinary-color);
}

/* Define the a element */
a {
  color: var(--tertiary-color);
  text-decoration: underline;
}

/* Define hover pseudo class on a element */
a:hover { 
  text-decoration: none; 
}

/* Hide everything fade in with JQuery */
section {
  display:none;
}

/* Define all header styles */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--quaternary-color);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 2% 6%;
  z-index: 9999;
  /* border: 1px #FFC0CB solid; */
}

/* Define the a element */
header a {
  color: var(--primary-color);
  text-decoration: none;
}

/* Define the header area */
header nav {
  margin: 10px 0;
  /* border: 1px #FFC0CB solid; */
}

/* Override the ul li elements */
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

/* Define the space between each li */
header nav ul li {
  padding: 16px;
}

/* Define the a element in the nav */
header nav ul li a {
  color: var(--primary-color);
  font-size: 1.55vw;
  /* font-size: .80em; */
}

header nav ul li a:hover {
  color: var(--primary-color);
}

/* Define the logo styles  */
#logo {
  width: 65px;
  height: 65px;
  opacity: 1;
  z-index: 10000;
  /* border: 1px #FFC0CB solid; */
}

/* Define the introText */
#introText {
  position: relative;
  /* border: 1px #FFC0CB solid; */
  padding: 6% 0;
}

/* Define the text styles */
h1 {
  font-size: 2.5em;
  color: var(--primary-color);
  font-weight:bold;
  font-style:normal;
  margin: .5em 0 0 0;
}

p {
  font-size: 1.5em;
  color: var(--primary-color);
  font-weight:normal;
  font-style:normal;
  line-height: 1.75em;
  margin: .5em 0;
}

/* Update this */
/* Modal */
.white_background {
  background-color: #f4f4f4;
  padding: 20px;
  margin: 10px;
}

span.center > a:hover {
  opacity: 0.5;
}

#contact_overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--senary-color);
  opacity: 0.95;
  z-index: 2000000;
  cursor: pointer;
}

/* Video sizzle section */
#videoPlayer {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
}

/* Style the video */
#sizzle {
  height: 100%;
  width: 100%;
}



/* Media Queries */
/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 1280px) {
  #introText {
    left: 12%;
    width: 76%;
  }
}

/* Big desktops ----------- */
@media only screen and (min-width: 1280px) {
  #introText {
    left: 12%;
    width: 48%;
  }
}